button {
    font-size: 16px;
    background-color: darkolivegreen;
    color: antiquewhite;
    padding: 12px 30px;
    margin-top: 2em;
    border-radius: 10%;
}

body {
    background-image: url("mainBackground.png");
    font-family: "Gill Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, rgba(39, 62, 88, 0.514), rgba(219, 120, 7, 0.39));
    border-radius: 1em;
}

h1 {
    text-align: center;
    /* background-color: rgba(10, 87, 33, 0.397); */
    background: linear-gradient(90deg, rgba(39, 88, 47, 0.801), rgba(7, 219, 53, 0.801));
    width: fit-content;
    padding: 0 1em 0 1em;
    font-size: xx-large;
    border-radius: 0.5em;
}

h2 {
    background: linear-gradient(90deg, rgba(39, 88, 47, 0.801), rgba(7, 219, 53, 0.801));
    padding: 0 1em 0 1em;
    font-size: xx-large;
    border-radius: 1em;
}

.selections {
    display: flex;
    /* align-content: space-between; */
    justify-content: space-evenly;
}

img {
    width: 300px;
    border-radius: 1em;
}

.gameSelection {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameStage {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .selections { 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }
        
}