body {
    background-image: url("jung.png");
  }

.gameArea {
    display: flex;
    justify-content: center;
}

canvas {
    outline: darkolivegreen 2px solid;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom button {
    margin-top: 1em;
    max-width: fit-content;
}

header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 80px; 
}

.topBar {
    width: 222px;
}

img {
    width: 200px;
}

@media (min-width: 0px) {
    body { overflow: hidden; }
    canvas { width: 450px; height: 450px; }
    footer { position: absolute; }
}
 
@media (min-width: 750px) {
     canvas { width: 480px; height: 480px; }
}

@media (min-width: 900px) {
    canvas { width: 530px; height: 530px; }
}

@media (min-width: 1600px) {
    canvas { width: 750px; height: 750px; }
}

@media (min-width: 2000px) {
    canvas { width: 850px; height: 850px; }
}

@media (min-width: 3000px) {
    canvas { width: 950px; height: 950px; }
}