body {
    background-image: url("jung.png");
    font-family: "Gill Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.gameArea {
    display: flex;
    justify-content: center;
}

canvas {
    outline: darkolivegreen 2px solid;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom button {
    margin-top: 1em;
    max-width: fit-content;
}

header {
    margin-top: 1em;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    /* align-content: space-around; */
    width: 100%;
    height: 80px; 
}

.topBar {
    width: 222px;
}

h1 {
    text-align: center;
    background: radial-gradient(circle, rgb(85, 107, 47), rgb(146, 160, 130));
    border-radius: 1em;
    height: 1em;
}

button {
    font-size: 16px;
    background-color: darkolivegreen;
    color: antiquewhite;
    padding: 12px 30px;
    border-radius: 10%;
}

img {
    width: 200px;
}

@media (min-width: 0px) {
    canvas { width: 450px; height: 450px; }
}
 
@media (min-width: 750px) {
     canvas { width: 480px; height: 480px; }
}

@media (min-width: 900px) {
    canvas { width: 530px; height: 530px; }
}

/* @media (min-width: 1300px) {
    canvas { width: 600px; height: 600px; }
} */

@media (min-width: 1600px) {
    canvas { width: 750px; height: 750px; }
}

@media (min-width: 2000px) {
    canvas { width: 850px; height: 850px; }
}

@media (min-width: 3000px) {
    canvas { width: 950px; height: 950px; }
}