body {
    background-image: url("jungrain.png");
    overflow: visible;
}

header { justify-content: space-between; }

#gameArea {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 1em;
}

.selection {
    flex-basis: 25%; /* we want 4 items per row so each shal take 25% of width */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px; height: 120px;
}

.selection button {
    font-size: smaller;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 0 1em;
    margin: 0 0 5px 0;
}

.card {
    width: 50px; 
    height: 100px;
    background: radial-gradient(circle, rgb(34, 33, 33), rgb(0, 0, 0));
    border-radius: 0.5em;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom button {
    margin-top: 1em;
    max-width: fit-content;
}

.topBar {
    width: 220px;
}

img {
    width: 222px;
}

@media (min-width: 0px) {
    h1 { height: 2.5em;}
    footer { position: absolute; }
    #gameArea    { width: 480px; height: 420px; margin: 0 auto; }
    .card { width: 40px; height: 60px; }
}
  
@media (min-width: 1000px) {
    h1 { height: 1em;}
    #gameArea    { width: 600px; height: 450px; }
    .card { width: 50px; height: 80px; }
}
  
@media (min-width: 1500px) {
    #gameArea    { width: 800px; height: 600px; }
    .card { width: 60px; height: 120px; }
}
  
@media (min-width: 1650px) {
    #gameArea    { width: 1000px; height: 650px; }
    .card { width: 80px; height: 180px; }
}

@media (min-width: 2000px) {
    #gameArea    { width: 1200px; height: 900px; }
    .card { width: 100px; height: 220px; }
}

