body {
  background-image: url("images/jungnight2.png");
  color: white;
}

#unsupported { border: 1px solid yellow; color: black; background-color: #FFFFAD; padding: 2em; margin: 1em; display: inline-block; }

header {
  margin: 0;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  height: 80px; 

  color: white;
}

button {
  font-size: 16px;
  background-color: rgba(60, 42, 110);
  color: antiquewhite;
  padding: 12px 30px;
  border-radius: 10%;
  margin-top: 0;
}

h1 { background: radial-gradient(circle, rgb(70, 47, 107), rgb(11, 2, 90)); }

p {
  font-size: smaller;
  color: palegoldenrod;
  background-color: #3333339f;
}

.topBar {
  width: 222px;
}

.settings {
  margin: 0 1em 0.5em 1em;
  padding: 0 1em 0 1em;
  background-color: rgba(60, 42, 110, 0.9);
  font-size: large;
  border-radius: 0.5em;
}

#modeSelections, #options, #gameArea {
  display: flex;
  justify-content: center;
}

#modeSelections {
  /* margin-top: 0.5em; */
  height: 50px;
}

#twoplayer {
  /* margin: 2em 1em 0 1em; */
  /* height: 46px; */
} 

#controls, #backArrow {
  padding-top: 5em;
}

@media screen and (min-width: 0px) {
  body { overflow: hidden; }
  footer { position: absolute; }
  #game    { display: block; width: 480px; height: 360px; margin: 0 auto; }
  #options { margin-top: 3.5em; }
}

@media screen and (min-width: 1000px) {
  #game    { width: 640px; height: 480px; }
  #options { margin-top: 2em; }
}

@media screen and (min-width: 1600px) {
  #game    { width: 800px; height: 600px; }
}

@media screen and (min-width: 2000px) {
  #game    { width: 1024px; height: 768px; }
}
